<template>
  <div class="code container">
    <div class="row item">
      <div>
        <h1>Source code</h1>
        <p>You can grab the source code for all projects on <a href="https://gitlab.com/lebiniou">GitLab</a>:</p>
      </div>
    </div>
    <div class="row item">
      <div class="col-sm item">
        <h1 class="display-4 text-primary">Le Biniou</h1>
        <p>The core engine, and all the input / output / effect plugins.</p>
        <br />
        <br />
        <hr class="my-4 text-primary">
        <p class="lead">
          <a class="btn btn-primary btn-lg" target="_blank" href="https://gitlab.com/lebiniou/lebiniou" role="button">Visit</a>
        </p>
      </div>
      <div class="col-sm item">
        <h1 class="display-4 text-primary">Le Biniou - Data</h1>
        <p>Recommended data files to start.</p>
        <ul>
          <li>1400+ colormaps</li>
          <li>4 image themes</li>
        </ul>
        <hr class="my-4 text-primary">
        <p class="lead">
          <a class="btn btn-primary btn-lg" target="_blank" href="https://gitlab.com/lebiniou/lebiniou-data" role="button">Visit</a>
        </p>
      </div>
    </div>
    <div class="row item">
      <div class="col-sm item">
        <h1 class="display-4 text-primary">Le Biniou - Vui</h1>
        <p>The User Interface (Uses Vue3 and TypeScript).</p>
        <hr class="my-4 text-primary">
        <p class="lead">
          <a class="btn btn-primary btn-lg" target="_blank" href="https://gitlab.com/lebiniou/lebiniou-vui" role="button">Visit</a>
        </p>
      </div>
      <div class="col-sm item">
        <h1 class="display-4 text-primary">Le Biniou - biniou.net</h1>
        <p>Source code for this website.</p>
        <hr class="my-4 text-primary">
        <p class="lead">
          <a class="btn btn-primary btn-lg" target="_blank" href="https://gitlab.com/lebiniou/biniou.net" role="button">Visit</a>
        </p>
      </div>
    </div>
  </div>
</template>

<style scoped>
h2 {
  font-size: 100%;
  color: #eee;
}
</style>
