<template>
  <div class="map">
    <iframe src="https://media.biniou.net/red/map" width="100%" height="100%" frameborder="0"></iframe>
  </div>
</template>

<style scoped>
.map {
  width: 100%;
  height: 80vh;
}
</style>
