<template>
  <div class="container main">
    <h1 class="center-description">They use LeBiniou in their performances</h1>
    <div class="productions">
      <div class="artist" v-for="(prods, artist, index) in productions" :key="index">{{ artist }}
        <div class="prod" v-for="(prod, index) in prods" :key="`p_${index}`" v-html="prodHtml(prod)"></div>
      </div>
    </div>
  </div>
</template>

<script>
import PRODUCTIONS_V2 from '@/assets/productions-v2.js'

export default {
  name: 'Productions',
  methods: {
    prodHtml: prod => {
      let html = '<a target="_blank" href="'
      if (prod.youtube) {
        html += `https://www.youtube.com/watch?v=${prod.youtube}`
      } else if (prod.video) {
        html += prod.video
      }
      html += '">' + prod.name || 'undefined' + '</a>'

      return html
    }
  },
  data () {
    return {
      productions: PRODUCTIONS_V2
    }
  }
}
</script>

<style scoped>
h1 {
  font-size: 30px;
}

.productions {
  height: 600px;
  overflow-y: auto;
}

.artist {
  font-size: 35px;
}

.prod {
  font-size: 25px;
  margin-left: 45px;
}
</style>
