body {
  background: #111;
  font-family: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  color: #eee;
}

.container {
  max-width: 1400px;
}

.wrapper {
  display: none;
}

h1, h2, h3, h4, h5, h6, h666 {
  margin-bottom: 0.5em;
  color: #fbfbfb;
}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 255%;
  text-align: center;
  margin-bottom: 1em;
  font-weight: bold;
  color: #fff3e4;
  text-shadow: 0 0 4px #999;
}

h2.slogan {
  margin: 2.5em 0;
}

a {
  color: #4892ff;
  text-shadow: 0 0 3px #3085ff;
}

a:hover {
  color: fuchsia;
}

.control {
  position: fixed;
  bottom: 0;
  padding-bottom: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 1.666em 0;
  z-index: 6666;
}

.control img {
  width: 64px;
  opacity: 0.6;
  cursor: pointer;
}

.control img:hover {
  opacity: 0.9;
}

.lyrics h2,
.lyrics h3 {
  color: #fafafa;
}

a:active img {
  border: none;
}

.top-quote {
  width: 100%;
  text-align: center;
  background: #4b0245;
  padding: 10px;
  color: #fff;
}

.top-quote a {
  color: #11d1d1;
}

.top-bar {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background: black;
  padding: 8px;
  margin-bottom: 3.666em;
  color: #eee;
  font-size: 120%;
  border-bottom: 1px solid #2b2b2b;
  z-index: 666;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.85);
}

.top-bar ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.777;
  margin-left: -275px;
}

.top-bar ul li {
  display: inline;
  margin: 0 4px;
  padding: 0;
}

.top-bar a {
  color: #eee;
  text-decoration: none;
}

.top-bar .logo {
  float: left;
  width: 256px;
  text-align: left;
  margin-left: 16px;
}

.top-bar .logo img {
  max-width: 128px;
  min-width: 64px;
  filter: contrast(0.80) brightness(3);
}

.top-bar .logo img:hover {
  filter: contrast(0.8) brightness(4);
}

.menu .current a {
  font-weight: bold;
  color: #fff;
}

.menu .current a:hover {
  color: #fff;
  text-decoration: none;
}

.header .flathub-link img {
  display: inline;
  width: 96px;
}

.flathub-link img:hover {
  filter: invert(1);
  border-radius: 22px;
}

.top-quote a:hover,
.top-bar a:hover,
.footer a:hover {
  color: fuchsia;
  text-decoration: underline;
  text-shadow: none;
}

.header p {
  font-size: 140%;
}

.header img {
  max-width: 85%;
  min-width: 376px;
  margin: 5% auto;
  display: block;
  box-shadow: 0px 5px 25px -8px #222;
}

.hoverable {
  transform: scale(1) !important;
  transition: transform 0.10s;
}

.hoverable:hover {
  transform: scale(1.020) !important;
  transition: transform 0.20s;
}

.main strong {
  color: #ff76ff;
}

.center {
  text-align: center;
}

.center-description {
  text-align: center;
  font-size: 115%;
  margin-bottom: 1.666em;
}

.videos-section {
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.lyrics-section {
  text-align: center;
  background: #111 url('~@/assets/lebiniou-graphics-screenshot.png');
  background-size: cover;
  background-attachment: fixed;
  color: #fafafa;
  text-shadow: 0 0 2px #dfdfdf;
  padding: 2em;
  box-shadow: 0 0 48px black inset;
}

.future-section {
  background: #111 url("~@/assets/lebiniou-party-quote-back.png");
  background-size: cover;
  background-attachment: fixed;
  padding: 2em;
  box-shadow: 0 0 48px black inset;
}

.lyrics-section h2,
.lyrics-section h3,
.future-section h2,
.future-section h3 {
  color: white;
  text-shadow: 0 0 4px black;
}

.support-section {
  text-align: center;
  padding-bottom: 3em;
}

.footer {
  display: block;
  margin: 0 auto;
  background: #111;
  width: 100%;
  border-top: 1px solid #222;
  text-align: center;
  padding: 0.777em 0 1em 0;
  box-shadow: 0px 5px 25px -8px rgba(20, 20, 20, 0.85);
}

.footer a {
  color: #eee;
  text-shadow: 0 0 3px #adbdd5;
}

h1 strong {
  color: lime !important;
  font-size: 120%;
}

h2 strong {
  color: fuchsia !important;
}

hr {
  background: transparent;
  color: transparent;
  border-top: 4px dotted #333;
  margin: 3em 1em;
}

.quote {
  font-style: italic;
}

.btn {
  font-weight: 500;
  font-size: 120%;
}

pre {
  white-space: pre-line;
  max-width: 90%;
}

.item {
  background: #060606;
  padding: 1em;
  margin-bottom: 2em;
  min-height: 90%;
  box-shadow: 0px 5px 48px -8px #171717;
  border-radius: 7px;
  border: 1px solid #222;
  font-size: 115%;
  color: #fafafa;
}

.video-container.item {
  padding: 2em;
  padding-bottom: 56.25%; /* 16:9 */
}

.header.item {
  padding: 2em;
  background-color: #060606;
  border: 1px solid #333;
}

.showcase-video {
  margin: 1.5em 0 3.5em 0;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 96%;
  height: 96%;
}

@media screen and (max-width: 973px) {
body {
  margin-top: 64px;
  font-size: 12px;
}

.top-bar .logo {
  display: none;
}

.top-bar {
  position: fixed;
}

.top-bar ul {
  margin-left: 0;
}

.top-quote {
  display: none;
}

.header img {
  max-width: 100%;
  margin: 3em 0 2em 0;
}

.header .flathub-link img {
  margin: 1.666em 0;
  min-width: 100%;
}

.header img {
  min-width: 100%;
}

.item,
.header.item {
  border-radius: 0;
  border: none;
}
}
