<template>
  <div id="app" class="text-light">
    <div class="top-bar">
      <div class="logo">
        <a href="index.html" title="Lebiniou Audio Visualizer home"><img src="@/assets/lebiniou-logo.png" alt="Lebiniou Audio Visualizer"/></a>
      </div>
      <div id="nav">
        <router-link to="/">Home</router-link> |
        <router-link to="/news">News</router-link> |
        <router-link to="/productions">Productions</router-link> |
        <a target="_blank" href="https://wiki.biniou.net">Wiki</a> |
        <a target="_blank" href="https://web.libera.chat/?#lebiniou">IRC</a> |
        <a target="_blank" href="https://discord.gg/XFzXAMVCS5">Discord</a> |
        <router-link to="/map">Map</router-link> |
        <router-link to="/code">Source code</router-link> |
        <a target="_blank" href="https://www.openhub.net/p/lebiniou">Open Hub</a> |
        <router-link to="/about">About</router-link>
      </div>
    </div>
    <router-view />
    <div class="footer">
      <div class="footer-left">
        <a target="_blank" href="https://gitlab.com/lebiniou/biniou.net">
          <img src="@/assets/gitlab-logo.svg" alt="GitLab" />
        </a>
      </div>
      <div class="footer-right">
        &copy;2021 Olivier &laquo;oliv3&raquo; Girondel
      </div>
    </div>
  </div>
</template>

<style>
#app {
/*
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
*/
}

.top-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#nav {
  justify-self: end;
}

#nav a {
  font-weight: bold;
  color: #999;
}

#nav a.router-link-exact-active {
  color: #eee;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 20px;
  color: white;
  display: grid !important;
  grid-template-columns: 1fr 1fr;
}

.footer-left {
  text-align: left;
  margin-left: 10px;
}

.footer-right {
  text-align: right;
  margin-right: 10px;
}
</style>
